<h1>Ideas</h1>

<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gy-2">
  <%= render partial: @ideas %>
</div>
